{% extends "base.html" %}


{% block content %}
    <div class="p-5 w-75 mx-auto">
        <h2>Allocation Settings</h2>
        <a class="mb-4" href="/admin/consvc_shepherd/allocationsetting/add/">Add New Position</a>
        {% for a_s in allocation_settings %}
            <div class="card p-2 mt-4 ">
                <div class="px-2 d-flex justify-content-between align-items-center">
                    <h4> Position {{ a_s.position }}</h4>
                    <a href="/admin/consvc_shepherd/allocationsetting/{{ a_s.id }}/change/">edit</a>
                </div>
                <table class="table ">
                    <thead class="text-secondary">
                        <th>Partner</th>
                        <th>Percentage (%)</th>
                    </thead>
                    <tbody>
                    {% for p_a in a_s.partner_allocations.all %}
                        <tr>
                            <td>
                                {{ p_a.partner }}
                            </td>
                            <td>
                                {{ p_a.percentage }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% empty %}
            <h5>No allocations set.</h5>
        {% endfor %}
    </div>
{% endblock content %}