{% extends "base.html" %}


{% block content %}
    <div class="p-5 w-75 mx-auto">
        <h2>Allocation Settings</h2>
        {% if errors %}
            <div class="alert alert-danger">{{ errors }}</div>
        {% endif %}
        <div class="d-flex justify-content-between mb-2">
            <span>Latest Snapshot:
            <button class="btn btn-link" data-bs-toggle="collapse" href="#snapshot">
            {{ latest_snapshot }}
        </button>
        </span>
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#snapshotModal">Create
                Snapshot
            </button>
        </div>
        <div id="snapshot" class="collapse">
            <pre class="bg-dark text-light p-2">{{ latest_snapshot.json_settings_formatted }}
        </pre>
        </div>
        <a class="mb-4" href="/allocation/create/">Add New Position</a>
        {% for a_s in allocation_settings %}
            <div class="card p-2 mb-4 ">
                <div class="px-2 d-flex justify-content-between align-items-center">
                    <h4> Position {{ a_s.position }}</h4>
                    <a href="/allocation/{{ a_s.id }}/">edit</a>
                </div>
                <table class="table ">
                    <thead class="text-secondary">
                    <th>Partner</th>
                    <th>Percentage (%)</th>
                    </thead>
                    <tbody>
                    {% for p_a in a_s.partner_allocations.all %}
                        <tr>
                            <td>
                                {{ p_a.partner }}
                            </td>
                            <td>
                                {{ p_a.percentage }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% empty %}
            <h5>No allocations set.</h5>
        {% endfor %}
        <div class="modal fade" id="snapshotModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalLabel">Create Snapshot</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="post">
                        <div class="modal-body">

                            {% csrf_token %}
                            {{ form.name.label }}
                            {{ form.name }}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="Submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock content %}