django
django-polymorphic

# Choose one of the two below. After changing run `pip-compile` and `pip-sync`
# from `pip-tools`.

black
coverage
django-environ
django-storages[google]
django-countries
django-stubs
flake8
isort
mypy
mock
psycopg2
