django
django-polymorphic

# Choose one of the two below. After changing run `pip-compile` and `pip-sync`
# from `pip-tools`.

black
coverage
django-stubs
factory_boy
flake8
isort
mypy
django-environ
django-storages[google]
django-countries
psycopg2
pytest
pytest-django
pytest-cov
