{% extends "admin/change_list.html" %}
{% block content_title %}
   <h1> Campaigns Summary </h1>
{% endblock %}
{% block result_list %}
   {% if summary %}
       <table>
        <thead>
            <tr>
                <th style="padding: 5px 10px;">Advertiser</th>
                <th>Impressions Sold</th>
                <th>Net SPend</th>
                <th>Net ECPM</th>
                <th>Notes</th>
                <th>Seller</th>
                <th>Ad Ops</th>
            </tr>
        </thead>
        <tbody>
            {% for item in summary %}
            <tr>
                <td>{{ item.advertiser }}</td>
                <td>{{ item.total_impressions_sold }}</td>
                <td>${{ item.total_net_spend }}</td>
                <td>${{ item.total_net_ecpm }}</td>
                <td>{{ item.latest_note }}</td>
                <td>{{ item.latest_seller }}</td>
                <td>{{ item.latest_ad_ops}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No data available</td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
   {% else %}
       <p>No records available.</p>
   {% endif %}
{% endblock %}
{% block pagination %}
{% endblock %}

