{% extends "base.html" %}
{% block content %}
    <div class="p-5">
        <h1>Shepherd</h1>
        <div class="m-4">
            <h2>Compare Snapshots</h2>
            {% if comparison_values %}
                <div class="alert alert-primary" role="alert">
                    <h3>{{ comparison_values.title }}</h3>
                    {% for diff in comparison_values.differences %}
                        <p>{{ diff.diff_type }}</p>
                        <p class="m-2">{{ diff.diff_value }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if errors %}
                <div class="alert alert-danger" role="alert">
                    {{ errors }}
                </div>
            {% endif %}
            <div class="d-flex w-100 align-items-center">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary ml-2">Submit</button>
                </form>
            </div>
        </div>
        <div class="m-4">
            <h2 class="my-2">Shepherd's Latest Snapshot ({{ data.first.name }})</h2>
            {% with something=data.first.json_settings %}
                {% for element, geo_values in something.adm_advertisers.items %}
                    <div class="m-4">
                        <h3>{{ element }}</h3>
                        <table class="table table-striped">
                            <tr>
                                <th>Geo</th>
                                <th>Domains</th>
                                <th>Paths</th>
                            </tr>
                            {% for geo, domains in geo_values.items %}
                                {% for domain in domains %}
                                    <tr>
                                        <td rowspan="{{ domains | length }}" class="col-md-3">{{ geo }}</td>
                                        <td class="col-md-3">{{ domain.host }}</td>
                                        <td>{% for path in domain.paths %} {{ path.value }},{% endfor %}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>
{% endblock %}