{% extends "base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "preview/css/preview.css" %}">
{% endblock %}

{% block content %}
<div id="preview">
    <h1>MARS Ads Preview</h1>

    <form>
        <label for="env">Environment</label>&nbsp;
        <select name="env" id="env">
            {% for anEnv in environments %}
                {% if anEnv.code == environment %}
                <option value="{{ anEnv.code }}" selected="selected">{{ anEnv.name }}</option>
                {% else %}
                <option value="{{ anEnv.code }}">{{ anEnv.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <br/><br/>
        <label for="agent">User Agent </label>&nbsp;
        <select name="agent" id="agent" style="text-overflow: ellipsis;width: 200px;">
            {% for anAgent in agents %}
                {% if anAgent.code == agent %}
                    <option value="{{ anAgent.code }}" selected="selected">{{ anAgent.name }}</option>
                {% else %}
                    <option value="{{ anAgent.code }}">{{ anAgent.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <br/><br/>
        <label for="country">Country</label>&nbsp;
        <select name="country" id="country">
            {% for aCountry in countries %}
                {% if aCountry.code == country %}
                <option value="{{ aCountry.code }}" selected="selected">{{ aCountry.name }}</option>
                {% else %}
                <option value="{{ aCountry.code }}">{{ aCountry.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <span id="region-container">
            <label for="region">Region</label>&nbsp;
            <select name="region" id="region"></select>
        </span>

        <br/><br/>
        <input type="submit" value="Reload"/>
        <br/><br/>
        
    </form>

    <h2>Tiles</h2>
    <div class="tiles">
        {% for tile in ads.tiles %}
        <a href="{{ tile.url }}" target="_blank">
            <div class="tile">
                <div class="tile-outer">
                    <img class="tile-image" src="{{ tile.image_url }}" alt="{{ tile.name }}"/>
                    
                </div>
                <div class="tile-title">
                    <span>{{ tile.name }}</span>
                    <span class="sponsored-label">{{ tile.sponsored }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <h2>SPOCs</h2>
    <div class="spocs">
        {% for spoc in ads.spocs %}
        <a href="{{ spoc.url }}" target="_blank">
            <div class="spoc">
                <img class="spoc-image" src="{{ spoc.image_src }}" alt="{{ spoc.title }}"/>
                <div class="spoc-meta">
                    <div class="spoc-info">
                        <div class="spoc-domain clamp">{{ spoc.domain }}</div>
                        <div class="spoc-title clamp">{{ spoc.title }}</div>
                        <div class="spoc-excerpt clamp">{{ spoc.excerpt }}</div>
                    </div>
                    <div class="spoc-context">{{ spoc.sponsored_by }}</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<br/><br/>
<a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#debugMsg" role="button" aria-expanded="false" aria-controls="debugMsg">
    debug info
</a>
<div class="collapse" id="debugMsg">
    <div class="card card-body">
        {{ debugMsg|safe }}
    </div>
  </div>

{{ regions|json_script:"regions-data" }}
<script>
    const regions = JSON.parse(document.getElementById('regions-data').textContent);
    const countrySelect = document.getElementById("country");
    const regionContainer = document.getElementById("region-container");
    const regionSelect = document.getElementById("region");

    function updateRegions(country) {
       let regionsForCountry = regions[country];

       if (regionsForCountry === undefined) {
           regionContainer.style.display = "none";
           regionsForCountry = [];
       } else {
           regionContainer.style.display = "";
       }

       let regionOptions = regionsForCountry.map((region) => {
          let option = document.createElement("option");
          option.setAttribute("value", region.code);
          option.innerText = region.name;

          if (region.code === "{{ region }}") {
            option.setAttribute("selected", "selected");
          }

          return option;
       });

       regionSelect.replaceChildren(...regionOptions);
    }

    countrySelect.addEventListener("change", function(e) {
        updateRegions(e.target.value);
    });

    updateRegions("{{ country }}");

    function toggleDebugMsg() {
            var debugMsg = document.getElementById('debugMsg');
            if (debugMsg.style.display === 'none') {
                debugMsg.style.display = 'block';
            } else {
                debugMsg.style.display = 'none';
            }
        }

</script>

{% endblock %}
{% extends "base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "preview/css/preview.css" %}">
{% endblock %}

{% block content %}
<div id="preview">
    <h1>MARS Ads Preview</h1>

    <form>
        <label for="env">Environment</label>&nbsp;
        <select name="env" id="env">
            {% for anEnv in environments %}
                {% if anEnv.code == environment %}
                <option value="{{ anEnv.code }}" selected="selected">{{ anEnv.name }}</option>
                {% else %}
                <option value="{{ anEnv.code }}">{{ anEnv.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br/><br/>
        <label for="form_factor">Form Factor</label>&nbsp;
        <select name="form_factor" id="form_factor">
            {% for aFormFactor in form_factors %}
                {% if aFormFactor.code == form_factor %}
                    <option value="{{ aFormFactor.code }}" selected="selected">{{ aFormFactor.name }}</option>
                {% else %}
                    <option value="{{ aFormFactor.code }}">{{ aFormFactor.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <br/><br/>
        <label for="country">Country</label>&nbsp;
        <select name="country" id="country">
            {% for aCountry in countries %}
                {% if aCountry.code == country %}
                <option value="{{ aCountry.code }}" selected="selected">{{ aCountry.name }}</option>
                {% else %}
                <option value="{{ aCountry.code }}">{{ aCountry.name }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <span id="region-container">
            <label for="region">Region</label>&nbsp;
            <select name="region" id="region"></select>
        </span>

        <br/><br/>
        <input type="submit" value="Reload"/>
        <br/><br/>
        
    </form>

    <h2>Tiles</h2>
    <div class="tiles">
        {% for tile in ads.tiles %}
        <a href="{{ tile.url }}" target="_blank">
            <div class="tile">
                <div class="tile-outer">
                    <img class="tile-image" src="{{ tile.image_url }}" alt="{{ tile.name }}"/>
                    
                </div>
                <div class="tile-title">
                    <span>{{ tile.name }}</span>
                    <span class="sponsored-label">{{ tile.sponsored }}</span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <h2>SPOCs</h2>
    {% if not ads.is_mobile %}
    <div id="desktop-spoc">
        <div class="spocs">
            {% for spoc in ads.spocs %}
            <a href="{{ spoc.url }}" target="_blank">
                <div class="spoc">
                    <img class="spoc-image" src="{{ spoc.image_src }}" alt="{{ spoc.title }}"/>
                    <div class="spoc-meta">
                        <div class="spoc-info">
                            <div class="spoc-domain clamp">{{ spoc.domain }}</div>
                            <div class="spoc-title clamp">{{ spoc.title }}</div>
                            <div class="spoc-excerpt clamp">{{ spoc.excerpt }}</div>
                        </div>
                        <div class="spoc-context">{{ spoc.sponsored_by }}</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div id="mobile-spoc">
        <div class="spocs">
            {% for spoc in ads.spocs %}
            <div class="spoc-container">
                <a href="{{ spoc.url }}" target="_blank">
                    <div class="spoc">
                        <img class="spoc-image" src="{{ spoc.image_src }}" alt="{{ spoc.title }}"/>
                        <div class="spoc-meta">
                            <div class="spoc-title clamp" id="mobile">{{ spoc.title }}</div>
                            <div class="spoc-context">{{ spoc.sponsored_by }}</div>
                            <div class="spoc-context">{{ spoc.sponsor }}</div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

<br/><br/>
<a class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#debugMsg" role="button" aria-expanded="false" aria-controls="debugMsg">
    debug info
</a>
<div class="collapse" id="debugMsg">
    <div class="card card-body">
        {{ debugMsg|safe }}
    </div>
  </div>

{{ regions|json_script:"regions-data" }}
<script>
    const regions = JSON.parse(document.getElementById('regions-data').textContent);
    const countrySelect = document.getElementById("country");
    const regionContainer = document.getElementById("region-container");
    const regionSelect = document.getElementById("region");

    function updateRegions(country) {
       let regionsForCountry = regions[country];

       if (regionsForCountry === undefined) {
           regionContainer.style.display = "none";
           regionsForCountry = [];
       } else {
           regionContainer.style.display = "";
       }

       let regionOptions = regionsForCountry.map((region) => {
          let option = document.createElement("option");
          option.setAttribute("value", region.code);
          option.innerText = region.name;

          if (region.code === "{{ region }}") {
            option.setAttribute("selected", "selected");
          }

          return option;
       });

       regionSelect.replaceChildren(...regionOptions);
    }

    countrySelect.addEventListener("change", function(e) {
        updateRegions(e.target.value);
    });

    updateRegions("{{ country }}");

    function toggleDebugMsg() {
            var debugMsg = document.getElementById('debugMsg');
            if (debugMsg.style.display === 'none') {
                debugMsg.style.display = 'block';
            } else {
                debugMsg.style.display = 'none';
            }
        }

</script>

{% endblock %}
